USE [Library]
GO
/****** Object:  StoredProcedure [dbo].[DeleteAddress]    Script Date: 15.06.2021 22:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[DeleteAddress](
@CountryId uniqueidentifier,
@StateId uniqueidentifier,
@CountyId uniqueidentifier,
@DistrictId uniqueidentifier
)
as
begin 	
	delete from District where CountyId = @CountyId
	delete from County where StateId = @StateId
	delete from dbo.State where CountryId = @CountryId
	delete from Country where Id = @CountryId	
end
